/* Root colors */
:root{
    --primary-color: #6f42c1;
    --secondary-color: #9b5097;
    --info-color: #9b5097;
    --succes-color: #02975a;
    --warning-color: #dcc802;
    --danger-color: #e82301;
    --light-color: #d5cae9;
    --white-color: #ffffff;
    --dark-color: #04060c;
    --muted-color: #808080;
    
}
/* text colors*/
.ctext-primary {
    color: var(--primary-color);
}

.ctext-secondary {
    color: var(--secondary-color);
}

.ctext-success {
    color: var(--succes-color);
}

.ctext-danger {
    color: var(--danger-color);
}

.ctext-warning {
    color: var(--warning-color);
}

.ctext-info {
    color: var(--info-color);
}

.ctext-light {
    color: var(--light-color);
}

.ctext-dark {
    color: var(--dark-color);
}

.ctext-muted {
    color: var(--muted-color);
}

.ctext-white {
    color: var(--white-color);
}
/* Background colors*/
.cbg-primary {
    background-color: var(--primary-color);
}

.cbg-secondary {
    background-color: var(--secondary-color);
}

.cbg-success {
    background-color: var(--succes-color);
}

.cbg-danger {
    background-color: var(--danger-color);
}

.cbg-warning {
    background-color: var(--warning-color);
}

.cbg-info {
    background-color: var(--info-color);
}

.cbg-light {
    background-color: var(--light-color);
}

.cbg-dark {
    background-color: var(--dark-color);
}

.cbg-white {
    background-color: var(--white-color);
}

.w-33 {
    width: 26rem;
}
