<%- include("partials/header") %>
<main class="container d-flex py-5">
  <img class="col-4" src="/assets/images/header/404-not-found.png" alt="logo" />
  <article class="col-6 ctext-white">
    <h1 class="ch1 col-12">404 - Niet gevonden</h1>
    <p class="col-12">Het spijt ons, we konden deze pagina niet vinden.</p>
    <a href="/home" class="btn btn-dark">Terug naar home</a>
  </article>
</main>
<%- include("partials/footer") %>
