<%- include("partials/landingsheader") %>
  <section class="container d-flex flex-wrap justify-content-center align-items-center min-vh-50 col-sm-12 gap-3">
    <section id="cards_animation_b">
      <h1 class="text-nowrap text-center ctext-white">MTG</h1>
      <article class="card card-flyer_b cbg-warning p-2">
        <img height="300rem" src="assets/images/landingspage/mtg.webp" class="rounded mb-2">
        <a href="/login" class="btn btn-dark cbg-dark">
          Aanmelden
        </a>
      </article>
    </section>
    <% const projectNames=["Fifa", "Fortnite" , "LegoMasters" , "LOTR" , "Pokémon" ] %>
      <% for (const project of projectNames) { %>
        <section id="cards_animation_b">
          <h1 class="text-nowrap text-center ctext-white">
            <%= project %>
          </h1>
          <article class="card card-flyer_b cbg-warning p-2">
            <img height="300rem" src="assets/images/landingspage/<%= project.toLowerCase() %>.webp" class="rounded mb-2">
            <a href="#errorModal" class="btn btn-dark cbg-dark" data-bs-toggle="modal">
              Aanmelden
            </a>
          </article>
        </section>
        <% } %>
          <section class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <section class="modal-dialog modal-dialog-centered">
              <section class="modal-content">
                <article class="modal-header bg-danger border-0">
                  <h5 class="modal-title text-white" id="errorModalLabel">Fout!</h5>
                  <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </article>
                <article class="modal-body cbg-dark-l ctext-white">
                  <p>U heeft geen toegang tot deze pagina!</p>
                </article>
                <article class="modal-footer cbg-primary border-0">
                </article>
              </section>
            </section>
          </section>
          </body>

          </html>