<%- include("/partials/header") %>
    <main class=" container d-flex py-5">
        <img class="col-4" src="/assets/images/header/CcW_Logo.png" alt="logo">
        <article class="col-6 ctext-white">
            <h1 class="ch1 col-12">Je hebt nog geen decks</h1>
            <p class="col-12">Maak een deck aan om verder te gaan.</p>
            <a href="/make deck" class="btn btn-dark">Maak een deck</a>
        </article>
    </main>
    <%- include("/partials/footer") %>